.wrap {
  width: calc(100% - 230px);
  height: 100%;
  padding: 1rem 2rem;
  background-color: var(--surface-50);
  overflow-y: auto;
}

.mb10 {
  display: block;
  margin-bottom: 10px;
}

.mb50 {
  display: block;
  margin-bottom: 50px;
}