.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 1rem;
  padding: 0 2rem;
  border-radius: 1rem;
  background-color: var(--surface-card);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .02), 0 0 2px rgba(0, 0, 0, .05), 0 1px 4px rgba(0, 0, 0, .08);
}

.logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logoIcon {
  width: 35px;
  height: auto;
}

.userWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
}