.main {
  width: calc(100% - 250px);
  height: 100%;
  background-color: #FFF;
  background-image: url("/logo.png");
  background-size: contain;
  background-position: 110px 100px;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  overflow-y: auto;
}

.t {
  padding: 2rem;
  font-size: 1.25rem;
  line-height: 2;
}

.bold {
  font-weight: 600;
}

.mb10 {
  display: block;
  margin-bottom: 10px;
}