.menu {
  width: 230px;
  margin: 0 1rem;
  padding: 0;
  border-radius: 1rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .02), 0 0 2px rgba(0, 0, 0, .05), 0 1px 4px rgba(0, 0, 0, .08);
}

.treeWrap {
  width: 100%;
  padding: 0;
  border-radius: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
}